fastapi
uvicorn
langchain
langchain-community
langchain-anthropic
langchain-text-splitters
pypdf
python-docx
docx2txt
pydantic-settings
python-multipart
mistralai
docxtpl
firebase-admin
google-cloud-firestore
requests
